.commissions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.commissions-header {
  color: white;
  font-size: large;
  text-align: center;
  padding-bottom: 25px;
  width: 400px;
}
