.checkout-thumbnail {
  height: 200px;
}

.checkout-container {
  border: white 1px solid;
  margin: 25px;
  color: white;
}

.checkout-row {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border: 1px solid;
  padding: 5px;
  align-items: center;
}

.checkout-row img {
  grid-column: span 4;
  justify-self: center;
}

.checkout-title {
  grid-column: span 2;
  font-size: larger;
  font-weight: bold;
  padding: 20px;
}

.checkout-price {
  padding: 20px;
}
