.contact-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.contact-block {
    width: 500px;
    color: white;
}

.contact-title {
    color: white;
    font-size: x-large;
    font-weight: bold;
}

.contact-rows {
    padding: 10px 0 10px 0;
}

.contact-input {
    width: 100%;
}

.contact-message {
    width: 100%;
    height: 100px;
}

.contact-button {
    width: 100px;
    height: 25px;
    background-color: darkcyan;
    color: white;
    font-size: large;
    padding-bottom: 10px;
}

.contact-button:disabled {
    background-color: #616f7b;
    color: #282c34;
}