.cart-modal {
  position: fixed;
  top: 10%;
  right: 1%;
  width: 300px;
  background-color: white;
  border-radius: 10px;
}

.cart-modal-title {
  color: black;
  font-weight: 700;
  padding: 10px 0 0 10px;
}

.cart-modal-items {
  height: 70;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-modal-items-left {
  display: flex;
  align-items: center;
}

.cart-modal-items-text {
  color: gray;
}

.cart-modal-items-name {
}

.cart-modal-items-price {
  font-size: 14px;
}

.cart-modal-items-photo {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.cart-modal-items-delete {
  margin-right: 20px;
}

.cart-modal-button {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.checkout-button {
  width: 200px;
  background-color: #a97f6f;
  color: white;
  border: none;
  border-radius: 5px;
}
