.painting-feature {
  height: 80vh;
  width: auto;
  max-height: 100vh;
  position: fixed;
  z-index: 100;
  display: flex;
  left: 50%;
  translate: -50%;
}

.painting-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.painting-block {
  display: flex;
  justify-content: space-evenly;
}

.painting-block-left {
  display: flex;
  flex-direction: column;
}

.painting-block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.painting-featured-top {
  display: flex;
  margin-top: 25px;
}

.painting-featured-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.painting-thumbnail {
  height: 150px;
  border-radius: 10px;
  margin: 5px 0px 20px 0px;
}

.painting-brand {
  color: blue;
  font-size: 10px;
}

.painting-title {
  font-size: 30px;
  font-weight: 900;
}

.painting-description {
  font-size: 14px;
}

.painting-price {
  font-size: 24px;
  font-weight: 700;
}
