.painting-feature {
  height: 100vh;
  overflow: hidden;
  z-index: 200;
}

.painting-page {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.painting-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  z-index: -11;
}

.painting-thumbnail {
  height: 170px;
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
  margin: 5px 0 20px 0;
  z-index: inherit;
}

.painting-container {
  display: flex;
  z-index: 2;
}

.painting-left {
  display: flex;
  flex-direction: column;
  padding: 100px 50px 50px 50px;
  z-index: inherit;
}

.painting-left_block {
  background-color: rgba(245, 245, 245, 0.8);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.painting-right {
  display: flex;
  z-index: 200;
}

.painting_description {
  width: 400px;
  padding: 10px 0 0 10px
}

.painting_name {
  font-size: larger;
  padding: 10px 0 0 10px;
}

.painting-left-thumbnail-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-items: center;
}

/* 
.painting-block {
  display: flex;
  justify-content: space-evenly;
}

.painting-block-left {
  display: flex;
  flex-direction: column;
}

.painting-block-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.painting-featured-top {
  display: flex;
  margin-top: 25px;
}

.painting-featured-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.painting-brand {
  color: blue;
  font-size: 10px;
}

.painting-title {
  font-size: 30px;
  font-weight: 900;
}

.painting-description {
  font-size: 14px;
}

.painting-price {
  font-size: 24px;
  font-weight: 700;
} */
